.banner {
    background-image: url('../images/banner.jpg');
    max-width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.menu {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.menu_navbar {

    padding: 10px;
    text-align: center;
}

.checkbtn {
    font-size: 30px;
    color: rgb(255, 0, 0);
    float: right;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#check {

    display: none;
}

.menubt {
    display: none;
}

nav {
    background: #D16B7D;
    width: 100%;
}

div ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

.menu_con li a {
    color: black;
}

div ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;

}

a:hover {
    color: #D16B7D;
}

.show {
    display: none;
}

@media(max-width:650px) {}

@media(max-width:825px) {
    .menu_con {
        display: none;
    }

    .show {
        padding: 0 40px;
        line-height: 30px;
        display: block;
    }

    .logo img {
        left: 5%;
    }

    .logo strong {
        font-size: 30px;
        left: 45%;
    }

    .fa-shopping-cart {
        padding: 10px;

        border-radius: 50%;
    }

    .checkbtn .fa-shopping-cart {
        color: black;
    }

    .checkbtn {
        line-height: 0;
    }

    .checkbtn .fa-search {
        border-radius: 50%;

        background-color: #D16B7D;
        color: white;
        padding: 8px;
    }

    .menubt {
        display: block;
    }

    .unmenu {
        display: none;
    }

    .checkbtn {
        display: block;
        float: left;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D16B7D;
        top: 70px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }

    div ul li {
        display: block;
        max-width: 50px 0;
        line-height: 30px;
    }

    div ul li a {
        line-height: 40px;
        color: white;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        z-index: 9999;
        
    }
}



label.logo {
    font-size: 35px;
    position: relative;
    font-weight: bold;

}

.logo img {
    right: 100%;
    position: absolute;
}

.logo strong {
    top: 10%;
    position: relative;
}

.menu_navbar_right {
    display: flex;
    justify-content: start;

    margin: 20px;
    margin-right: 30px;
}

.sign-kinhlup {

    border-radius: 50%;

    background-color: #D16B7D;
    color: white;
    padding: 10px;
}

.fa-shopping-cart:hover {
    color: red;
}

.fa-shopping-cart {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    border-radius: 50%;
}

.sign-button {

    width: 90px;
    height: 40px;

    border: none;
    background: #D16B7D;
    color: white
}

.menu_navbar_right>*:not(:last-child) {
    margin-right: 10px;
}




/**/
.showing {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.showing_a {
    margin: 0 auto;
}
.showing_a p {
   font-weight: bold;
}
.showing_a {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.showing_a select {
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
    border: none;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #ccc;
}

.showing_a i {
    border-radius: 5px;
    padding: 10px;

    margin-left: 10px;
    border: 1px solid #ccc;
}

.unbars {
    color: wheat;
    background: #D16B7D;
    padding: 10px;
    border-radius: 5px;

    border: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 5px;
}

.showing_a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* /////////////////////////// */
.product_sort {

    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.product_sort_con {
   
    justify-content: center;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;

    width: 69%;

}

.product_con {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 210px;

    height: 260px;
    border: 1px solid #ccc;
}



/* css cản phẩm */
.product_img img {
    width: 210px;
    height: 200px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}

.overlay {
    position: absolute;
    bottom: -50%;
    left: 25%;
    right: 0;
    /* background-color: #008CBA; */
    overflow: hidden;
    width: 100%;
    height: 0;

}

.product_price {
    font-size: 20px;
    color: #D16B7D;
    font-weight: 600;
}

.product_img:hover .overlay {
    height: 100%;

}

.fa-heart {
    padding: 7px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.fa-heart:hover {
    color: red;
}

.fa-eye {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.fa-eye:hover {
    color: red;
}

.fa-shopping-cart:hover {
    color: red;
}

.fa-shopping-cart {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.text a {
    color: black;
}

.product_info p {
    text-align: center;
}

.product_name {
    line-height: 2;
    font-size: 15px;
    font-weight: bold;
}

.product_con:hover {
    border: 2px solid #D16B7D;
}

.product_sale {
    position: absolute;
    top: 8px;
    right: 16px;
    border: 1px solid #D16B7D;
    background: #D16B7D;
    width: 40px;
    height: 20px;
    font-size: 10px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* phân trang */

.phantrang {

    display: flex;
    justify-content: center;
    align-items: center;
}

.phantrang_con {
    justify-content: center;

    display: flex;


    width: 20%;
    height: 20px;
}

.phantrang_ph {
    border-radius: 5px;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    width: 40px;
    margin: 20px;
    height: 40px;
    box-shadow: #ccc;
    border: 1px solid #ccc;
}

@media(max-width:825px) {
    .phantrang_ph{
        padding: 10px;
    }
}
/* footer */
footer {
    margin-top: 60px;
    background-image: url('../images/background-remover/banner2.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: absolute;
}
.ft_img {

    display: flex;
}

.ft_img span {
    font-size: 35px;
    padding: 10px;
}
.ft-text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: initial;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 768px) {
    .footer_ft>.ft {
        padding: 10px;
        height: auto;
    }

    .ft_down {

        flex-wrap: wrap;
    }

    .content_fl {
        flex-wrap: wrap;
    }


}
.ft_down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #D16B7D;
}
.content_fl {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content_fl p {
    margin-right: 30px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ft_down_d {
    width: 33%;
    margin: 0 10px;
}

.slider_product {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.slider_products {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slides_prodcuts {

    margin-top: 40px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}
@media (max-width:820px) {
    .slides_prodcuts {
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .product_ft {
        height: auto;
    }
}
.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 10px;
}
.icon-square:hover {
    background-color: #D16B7D;
    /* Thay đổi màu nền khi hover */
    color: white;
    /* Thay đổi màu chữ khi hover */
    border: 1px solid #D16B7D;
}

.icon-square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-square i {
    font-size: 15px;
}

.product_ft {
    margin: 10px;
    height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 210px;
    position: relative;
    margin-bottom: 30px;
}