* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.unslider {
    display: none;
}

.sign-button {
    width: 90px;
    height: 40px;
    border: none;
    background: #D16B7D;
    color: white
}

.sign-button2 {
    width: 8vw;
    height: 6vh;
    margin: 5px;
    border: none;
    background: #D16B7D;
    color: white
}

/* slider */
.slider {

    position: relative;
    width: 100%;

}

.myslide {
    position: relative;
    display: none;
    overflow: hidden;

}

.img {

    float: right;
    margin-right: -200px;
    left: 70%;

}

.prev,
.next {
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: #00a7ff;
    /* blue */
}

.next {
    right: 0;
}

/* .dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
} */
/* /2 */

/* javascript */
.active,
.dot:hover {
    border-color: #00a7ff;
    /* blue */
}

/* /javascript */

/* muslide add fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

/* /muslide add fade */

/* 3 */
.txt {

    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    line-height: 35px;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;

}

/* @-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
} */

.txt h1 {
    color: #00a7ff;
    /* blue */
    font-size: 80px;
    margin-bottom: 20px;
    line-height: 60px;
    font-weight: bold;
}

.txt p {

    color: black;
    font-size: 15px;
}

/* /3 */

/* 4 */
/* img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
} */
/* /4 */

.img img {
    width: 1000px;
    height: 490px
}

/* 5 */
@media screen and (max-width: 800px) {
    .myslide {
        height: 500px;
    }

    .img img {
        width: 80%;



    }

    .txt h1 {
        color: #00a7ff;
        /* blue */
        font-size: 80px;
        margin-bottom: 20px;

        font-weight: bold;
    }

    .txt {

        line-height: 25px;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    /* @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }


    @keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    } */

    .txt h1 {
        line-height: normal;
        font-size: 40px;
    }

    .txt p {
        font-size: 18px;
    }

}

/* /5 */

/* 6 */
@media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .sign {
        margin-right: 20px;
    }

    .sign a {
        font-size: 12px;
    }

}

/* /6 */
.bannerhoa {
    top: 50%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: auto;
    max-width: 100%;

}

.banner {
    background-image: url('../images/banner.jpg');
    max-width: 100%;
    /* height: 634.5px; */
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.barn {
    /* background-image: url('../images/background-remover/ft3.jpg'); */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: absolute;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    position: unset;

}

.barn1 {

    padding-top: 10px;
    position: unset;
    width: 100%;



}

.content_box {
    flex-basis: calc(40% - 10px);
}


.content_box_menu {
    flex-basis: calc(40% - 10px);
}

.content_box_title {
    width: 260px;
}

.content_box_img {
    float: left;
    position: absolute;
}

.content_box_p {
    font-size: 30px;
    margin: 5px;
    padding: 10px;
    position: relative;
}

/* ///*/


.barnbox {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.box {
    flex-wrap: wrap;

    margin: 0 10px;
}

/* .box i {
  font-size: 24px;
}

.box_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.box_content {
  font-size: 14px;
  margin-top: 5px;
} */


/*/// */
.barn .box {
    margin-top: 80px;
    width: 250px;
    height: 140px;
    /* margin: 5px; */
    box-sizing: border-box;
    font-size: 50px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .box {
        margin-top: 0;
    }
    #box_sp{
        margin-top: 30px;
    }
    .barn .box {
      
        width: 250px;
       
        margin: 5px;
        box-sizing: border-box;
        font-size: 50px;
       
    }
}

.boxflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box_hoa {
    width: 250px;
    height: 270px;
    margin: 10px;
    border: 2px solid #dce3eb;
    box-sizing: border-box;
    font-size: 50px;
    position: relative;
}

.box_hoa:hover {
    border: 2px solid #D16B7D;
}

.content_box_menutitle {
    display: flex;
    padding: 4px;
    justify-content: space-evenly;
}
@media(max-width:600px) {
    .content_box_menu {
        display: flex;
        justify-items: center;
        flex-wrap: wrap;
    }
}

.button_title:hover {
    color: #D16B7D;
}

.menu_title {
    margin: 6px;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;

}



/* icon */
.fa-headphones {
    float: left;
    color: #D16B7D;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 40px;
}

.fa-mobile-alt {
    font-size: 40px;
    font-weight: lighter;
    float: left;
    color: #D16B7D;
    padding: 10px;
    padding-bottom: 30px;

}

.fa-box-open {
    font-size: 40px;
    font-weight: lighter;
    float: left;
    color: #D16B7D;
    padding: 10px;
    padding-bottom: 30px;
}

.fa-leaf {
    font-size: 40px;
    font-weight: lighter;
    float: left;
    color: #D16B7D;
    padding: 10px;
    padding-bottom: 30px;
}

/* end icon */
.box_title {
    font-size: 20px;
    color: #D16B7D;
    font-weight: 400;
}

.box_content {
    color: rgb(100, 98, 98);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button_title {
    display: inline-block;
    padding: 10px 20px;

    color: rgb(100, 98, 98);

    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
@media(max-width:925px){
    .button_title {
        display: inline-block;
        padding: 0px;
    
        color: rgb(100, 98, 98);
    
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;   
    }
}
.product_info p {
    text-align: center;
}

.product_name {
    line-height: 2;
    font-size: 15px;
    font-weight: bold;
}

.post_info_title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 40px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product_price {
    font-size: 20px;
    color: #D16B7D;
    font-weight: 600;
}

.post_info_more {
    padding: 0 40px;
    font-size: 13px;
    color: #D16B7D;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.post_img img {
    width: 340px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.product_img img {
    width: 248px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}

/* .product_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img img {
    width: 220px;
    height: 200px;
    padding-bottom: 10px;
} */
.post_sale {
    position: absolute;
    bottom: 120px;
    right: 0px;
    border: 1px solid #D16B7D;
    background: #D16B7D;
    width: 100px;
    height: 30px;
    font-size: 10px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product_sale {
    position: absolute;
    top: 8px;
    right: 16px;
    border: 1px solid #D16B7D;
    background: #D16B7D;
    width: 40px;
    height: 20px;
    font-size: 10px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: #008CBA; */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.product_img:hover .overlay {
    height: 100%;

}

.text {

    color: black;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fa-heart {
    padding: 7px;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.fa-heart:hover {
    color: red;
}


.fa-eye:hover {
    color: red;
}

.fa-shopping-cart:hover {
    color: red;
}

.fa-shopping-cart {
    
    display: flex;
    justify-content: center;
    align-items: center;
 
   padding: 7px;
    background: white;
    border-radius: 50%;
}

.text a {
    color: black;
}

.fa-eye {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
}

.avatar_img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

.content_avatar {

    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 2vw;
}

.content_avatar .content_up {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content_avatar p {

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.shop_shopping {
    display: flex;
    justify-content: center;

}

.shop_shopping_now {
    border: 1px solid #EFF0F2;
    width: 38.5%;
    height: auto;
    margin: 10px;
    background: #EFF0F2;
    position: relative;

}

@media (max-width: 600px) {
    .shop_shopping {
        flex-wrap: wrap;
    }

    .avatar {
        width: 15%;
        height: 15%;
    }

    .shop_shopping_now {
        width: 100%;
        /* Khi màn hình nhỏ hơn hoặc bằng 600px, khung sẽ chiếm 100% chiều rộng */
    }
}

.imgrohoa {
    float: right;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.shop_shopping_now a {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #D16B7D;
    font-size: 15px;
}

.shop_shopping_now .content_now {
    position: absolute;
    top: 20%;
    left: 10%;
    font-weight: 900;
    font-size: 25px;

}

.product_off_new {
    position: absolute;
    top: 90px;
    right: 38px;
    border: 1px solid black;
    background: #D16B7D;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_off_new span {
    transform: skewY(-30deg);
}

.slider_product {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.slider_products {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides_prodcuts {

    margin-top: 40px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.post_product {
    width: 100%;
    overflow: hidden;
    position: relative;

}

.post_products {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.posts_prodcuts {

    margin-top: 40px;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
}

.product_hoa {
    box-sizing: border-box;
    border: 1px solid #dce3eb;
    width: 250px;
    height: 270px;
    margin: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: relative;

}

.product_post {
    box-sizing: border-box;
    border: 1px solid #dce3eb;
    width: 340px;
    height: 310px;
    margin: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: relative;

}

.prev-btn1,
.next-btn1 {
    float: right;
    margin: 5px;
    border: 1px solid #D16B7D;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #D16B7D;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;

}

.prev-btn,
.next-btn {
    float: right;
    margin: 5px;
    border: 1px solid #D16B7D;
    width: 30px;
    height: 30px;
    color: white;
    background-color: #D16B7D;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
}

/* .prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}  */
@media (max-width:820px) {
    .slides_prodcuts {
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {



    .slides_prodcuts {
        flex-wrap: wrap;
    }

    .posts_prodcuts {
        flex-wrap: wrap;
    }



    .btn_product {
        width: 100%;
    }

    .logo_product {
        width: 100%;
    }

}

.title_product {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Hai cột có chiều rộng bằng nhau */
    grid-column-gap: 20px;


}

.btn_product button {

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_product {

    padding: 10px 146px;
    float: right;

    /* margin-top: 50px;
    margin-right: 290px; */
}

.logo_product {
    padding: 0 130px;

}

@media (max-width: 768px) {


    .logo_product {
        padding: 0 0;
    }

    .btn_product {

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0;
        margin-bottom: 10px;
        /* Khoảng cách dọc giữa các sản phẩm thay đổi */
    }
}


/* ///// */
.main2 {
    border: none;
    border-top: 1px dashed black;
    width: 55%;
    float: right;
    line-height: 40px;
}

.main {
    line-height: 30px;
    float: left;
    width: 55%;
    height: auto;
    position: relative;
    display: inline-block;
}

.main img {
    padding: 0 60px;
    float: left;
}
/* không cho lướt trang */
.overflow{
    overflow: hidden;
}
@media(max-width:390px){
    .main img{
        display: none;
    }
    .main2 {
        border: none;
        border-top: 1px dashed black;
        width: 100%;
      
        line-height: 40px;
    }
}
.main1 {
    line-height: 30px;
}

.main p {

    position: relative;
    font-family: 'Times New Roman', Times, serif;
    right: 25%;
}

.main_title_content {
    margin-bottom: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.right {
    background-image: url(../images/background-remover/banner1.jpg);
    float: left;
    width: 34%;
    height: auto;
    background-size: cover;
    text-align: center;
}

.right img {
    height: 305px;
}

@media only screen and (max-width: 770px) {
    .main p {
        position: unset;
    }

    .main1 p {
        float: none;
    }

    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 0 10px;

    }

    .menu,
    .main,
    .right {
        width: 100%;
    }
}

@media only screen and (max-width: 830px) {
    .main img {

    }

    .main {
        margin-bottom: 30px;
    }

    .main p {
        position: unset;
    }

    .main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        padding: 0 10px;

    }

    /* For mobile phones: */
    .menu,
    .main,
    .right {
        width: 100%;
    }
}

.logo_six {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    /* Căn giữa 6 ảnh trên một hàng */
}

.logo_six_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    margin: 50px;
}

.logo_six_image img {
    width: 80px;
}

@media screen and (max-width: 830px) {
    .logo_six {
        flex-wrap: wrap;
    }

    .logo_six_image {
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        margin: 10px;
    }
}

.contact {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_lh {

    width: 44%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_lh_left {
    border: 3px solid #D16B7D;
    height: 50px;
    margin-right: 460px;

    position: absolute;
    float: left;
}

.contact_lh p {
    position: relative;
    font-weight: 900;
    font-size: 35px;

    padding: 10px;
    text-align: center;
}

.contact_lh input {
    height: 40px;
    width: 410px;
    border-top: 0.4px solid white;
    border-right: 0.4px solid white;
    border-bottom: 0.4px solid white;
    border-left: 4px solid #D16B7D;
    color: white;
    background: #000;

}

.contact_lh input::placeholder {
    color: white;
    /* Màu trắng cho placeholder */
}

.contact_lh button {
    color: white;
    background: #D16B7D;
    width: 60px;
    height: 40px;
    border: none;
}

/* Media queries */
@media (max-width: 768px) {
    .contact_lh {
        /* flex-basis: 100%; */
        width: 100%;
        padding: 0 10px;
    }

}


footer {
    margin-top: 60px;
    background-image: url('../images/background-remover/tải\ xuống.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    position: absolute;
}

.footer_ft {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* Thêm thuộc tính flex-wrap */
}

@media (max-width: 768px) {
    .footer_ft>.ft {
        padding: 10px;
        height: auto;
    }

    .ft_down {

        flex-wrap: wrap;
    }

    .content_fl {
        flex-wrap: wrap;
    }


}

.ft_img {

    display: flex;
}

.ft_img span {
    font-size: 35px;
    padding: 10px;
}

.ft-text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: initial;
    font-family: 'Montserrat', sans-serif;
}

.ft h4 {
    font-weight: bold;
}



.icon-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding: 10px;
}

.icon-square:hover {
    background-color: #D16B7D;
    /* Thay đổi màu nền khi hover */
    color: white;
    /* Thay đổi màu chữ khi hover */
    border: 1px solid #D16B7D;
}

.icon-square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-square i {
    font-size: 15px;
}

.ft_down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: #D16B7D;
}

.ft_down_d {
    width: 40%;
    margin: 0 10px;
}

.content_fl {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content_fl p {
    margin-right: 30px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.product_ft {
    margin: 10px;
    height: 250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    width: 250px;
    position: relative;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .product_ft {
        height: auto;
    }
}


/* ///////////////////////// */
.menu {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.menu_navbar {

    padding: 10px;
    text-align: center;
}

.menu_navbar div {
    margin-top: 10px;
}

.checkbtn_right {
    display: none;
}

.checkbtn_right i {}

.menu_navbar_res {

    display: flex;
    justify-content: center;
    align-content: center;
}

.checkbtn {
    font-size: 30px;
    color: rgb(255, 0, 0);
    float: right;
    /* line-height: 80px;
    padding: 5px;
    margin-left: 20px; */
    cursor: pointer;
    display: none;
}

.checkbtn1 {
    font-size: 30px;
    color: rgb(255, 0, 0);
    float: right;

    margin-left: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menubt {
    display: none;
}

nav {
    background: #D16B7D;
    width: 100%;
}

div ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

.menu_con li a {
    color: black;
}

div ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a:hover {
    color: #D16B7D;
}

.show {
    display: none;
}


@media(max-width:825px) {
    .menu_con {
        display: none;
    }

    .show {
        padding: 0 40px;
        line-height: 30px;
        display: block;
    }

    .logo img {
        left: 5%;
    }

    .logo strong {
        font-size: 30px;
        left: 45%;
    }

    .content_avatar p {
        padding: 0 10px;
        font-size: 15px;
    }

    .checkbtn .shopping {
        color: black;
        background: none;
        border-radius: 0px;
        margin-right: 20px;
    }

    .checkbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
    }

    .checkbtn1 .fa-search {
        border-radius: 50%;
        margin-top: 5px;
        background-color: #D16B7D;
        color: white;
        padding: 3px;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .menubt {
        display: block;
    }

    .unmenu {
        display: none;
    }

    .checkbtn_right {
        display: block;
        float: left;
    }

    .checkbtn {

        margin-top: 10px;
        display: block;
        float: left;
    }

    .checkbtn1 {

        display: block;
        float: left;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #D16B7D;
        top: 70px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }

    div ul li {
        display: block;
        max-width: 50px 0;
        line-height: 30px;
    }

    div ul li a {
        line-height: 40px;
        color: white;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        z-index: 9999;
    }
}



label.logo {
    font-size: 35px;
    position: relative;
    font-weight: bold;

}

.logo img {
    right: 100%;
    position: absolute;
}

.logo strong {
    top: 10%;
    position: relative;
}

.menu_navbar_right {
    display: flex;
    justify-content: start;

    margin: 20px;
    margin-right: 30px;
}

.menu_navbar_right>*:not(:last-child) {
    margin-right: 10px;
}

.menu_navbar div>*:not(:last-child) {
    margin-right: 10px;
}

.sign-kinhlup {

    border-radius: 50%;
    background-color: #D16B7D;
    color: white;
    padding: 13px;
}

.fa-shopping-cart:hover {
    color: red;
}

.sign-giohang {
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
}

/* sô lượng giỏ hàng  */
.cart-icon,
.fa-search {
    float: left;
    position: relative;
    display: inline-block;
}

.item-count {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 6px;
    font-size: 13px;
}

@media (max-width:900px) {
    .item-count {
        position: absolute;
        top: 0%;
        right: 0%;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 18px;
    }

}

/*  end sô lượng giỏ hàng  */
.shopping {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    border-radius: 50%;
}

.sign-button {

    width: 90px;
    height: 40px;

    border: none;
    background: #D16B7D;
    color: white
}