<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="banner">
        <div class="menu">

            <div class="menu_navbar" style="margin-top: 10px;">
                <label class="logo">
                    <img src="../images/background-remover (1)/logo.png" alt="" width="48px">
                    <strong>Go<span style="color: #D16B7D;">grin</span>.</strong>
                </label>
            </div>

            <div class="menu_navbar">
                <div>


                    <label for="checks" class="checkbtn1 ">
                        <a href="#">
                            <i class="fas fa-search "></i>
                        </a>
                        <div class="cart-icon">
                            <a href="1">
                                <i class="fas fa-cart-plus sign-giohang"></i>
                                <span class="item-count">3</span>
                            </a>
                        </div>
                    </label>
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li><a href="trangchu.html" class="active">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="listproduct.html">Shop</a></li>
                        <li><a href="">Pages</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>

                    </ul>
                    <div class="menu_con">
                        <h2>About</h2>
                        <li><a href=""> You Here! > Home > About</a></li>
                    </div>
                </div>

            </div>
            <div class="menu_navbar unmenu" style="margin-top: 20px;">
                <div class="menu_navbar_right">
                    <i class="fas fa-search sign-kinhlup"></i>
                    <div class="cart-icon">
                        <a href="#">
                            <i class="fas fa-cart-plus sign-giohang"></i>
                            <span class="item-count">3</span></a>
                    </div>
                    <button class="sign-button">24/7 Help</button>
                </div>
            </div>
        </div>
        <div class="menu_con show">
            <hr>
            <li><a href="">Home > About</a></li>
        </div>
    </div>
    <div class="space" style="margin-top: 100px;"></div>
    <div class="about_one">
        <div class="about_one_contact">
            <div class="about_one_contact_text">
                <h4>Life is the flower which love is the honey.</h4>
                <h1>
                    <span>Happiness</span> held is the
                    seed; Happiness shared is the <span>flower.</span>
                </h1>
                <p>They have to have a caliber and connect with me because I'm <br>
                    going to be playing them for the reset of my life. They have to have a
                    caliber and connect with me</p>
            </div>
            <div class="content">
                <div class="content_one ">
                    <p>They have to have a caliber <br> and connect with me because I'm
                        going to be playing them for the reset of my life and it's true. </p>
                </div>
                <div class="content_one bold_content">
                    <p>A flower cannot blossom without sunshine, and a man cannot live without love</p>
                </div>
            </div>
            <div class="content_more">
                <a href="">Learn More...</a>
                <p style=" border: none;
                border-top: 1px dashed black;
                width: 100%;
                line-height: 40px; margin-top:20px">

                </p>
                <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px;"></i></span> We provide
                always fresh & beautiful flower <br>

                <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px"></i></span> We provide
                always fresh & beautiful flower
            </div>
        </div>
        <div class="about_one_contact_two">
            <div class="about_one_contact_img">

            </div>
            <div class="about_box">
                <div>
                    <p>Exclusive & Fresh Flowers</p>
                </div>
            </div>
        </div>
    </div>
    <div class="barn">
        <div class="barnicon">
            <div class="box">
                <div>
                    <i class="fas fa-headphones"></i>
                </div>
                <div>
                    <p class="box_title">24/7 Help line</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>


            <div class="box">
                <div>

                    <i class='fas fa-leaf'></i>
                </div>
                <div>
                    <p class="box_title">Fresh flowers</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
            <div class="box">
                <div>

                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div>
                    <p class="box_title">payment secure</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
            <div class="box">
                <div>

                    <i class='fas fa-box-open'></i>
                </div>
                <div>
                    <p class="box_title">Free delivery</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque. Morbi faucibus </p>
                </div>
            </div>

        </div>
    </div>
    <div class="showing">
        <div class="showing_one">

            <div class="showing_a">
                <img src="../images/background-remover (1)/logo.png" alt="" width="90px" class="content_box_img">
                <p class="content_box_p" style="font-weight: 800;">Trending <strong
                        style="color: #D16B7D;">Flowers</strong>
                </p>
            </div>
            <div class="showing_a show_menu">
                <div id="myBtnContainer">
                    <span> <button class="btn active" onclick="filterSelection('all')">All</button></span>
                    <span> <button class="btn" onclick="filterSelection('a')"> Exctic</button> </span>
                    <span><button class="btn" onclick="filterSelection('b')"> Green</button></span>
                    <span> <button class="btn" onclick="filterSelection('c')"> Popular</button></span>
                    <span> <button class="btn" onclick="filterSelection('c')">Winter</button></span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="product_sort">
        <div class="product_sort_con">

            <div class="product_con a">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con a">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con a">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con a">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con b">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con c">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con c">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con c">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
   
    <div class="avatar_img">
        <img src="../images/background-remover/img_avatar.png" alt="Avatar" class="avatar">
        <div class="content_avatar">
            <p class="content_up">Gogrin flower shop is really amezing there fresh flower & servicers. i </p>
            <p>always pray a lot for there big success</p>
            <p style="line-height: 40px;"><strong
                    style="color: #D16B7D;font-family: 'Poppins', sans-serif;font-size: 17px;">Rakib hossain...
                </strong><strong style="font-size: 17px;">Manager</strong></p>
        </div>
    </div>
    <div class="shop_shopping">
        <div class="shop_shopping_now">
            <img src="../images/rohoa.png" alt="" class="imgrohoa">
            <div class="product_off_new">
                <span> 20% <br> OFF</span>
            </div>
            <div class="content_now">
                <p>Latest red & white rose <br> Combo Offer... $35</p>
            </div>
            <a href="">SHOP NOW</a>
        </div>
        <div class="shop_shopping_now">
            <img src="../images/rohoa.png" alt="" class="imgrohoa">
            <div class="product_off_new">
                <span> 20% <br> OFF</span>
            </div>
            <div class="content_now">
                <p>Latest red & white rose <br> Combo Offer... $35</p>
            </div>
            <a href="">SHOP NOW</a>
        </div>

    </div>
    <div style="overflow:auto;margin-top: 30px;" class="main_sum">
        <div class="main">
            <img src="../images/background-remover (1)/logo.png" alt="">
            <div class="main1">
                <p style="color: #D16B7D;font-weight: 700;">We provide always fresh & beautiful flower</p>
                <p class="main_title_content" style="line-height: 35px;"><span style="color: #D16B7D;">Love</span> is
                    the flower <br>
                    you've got to <span style="color: #D16B7D;">let grow.</span></p>
                <p style="line-height: normal;font-family: 'Courier New', Courier, monospace;">They have to a certain
                    caliber and connect with me because I'm
                    going to be playing them for reset of my life. They have to a
                    certain caliber connect with me </p>
                <p style="line-height: 30px ; color: #D16B7D;">Learn More...</p>
                <p class="main2">
                    <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px;"></i></span> We provide
                    always fresh & beautiful flower <br>

                    <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px"></i></span> We provide
                    always fresh & beautiful flower
                </p>
            </div>
        </div>

        <div class="right">
            <img src="../images/roho2.png" alt="">
        </div>
    </div>
    <div class="logo_six">
        <div class="logo_six_image"> <img src="../images/logo/1.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/2.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/4.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/2.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/3.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/1.PNG" alt=""></div>
    </div>

    <div class="fromcontact">
        <div class="from_about">
            <p>Our Contact</p>
            <h3>Get In A Touch</h3>
            <form action="" method="post">
                <input type="text" placeholder="Name*">
                <input type="email" placeholder="Email*">
                <input type="number" placeholder="Phone*">
                <textarea name="" id="" cols="30" rows="5" placeholder="Your Comment*"></textarea>
                <button>Send Message</button>
            </form>
        </div>
        <div class="from_about" style="border: none;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d251637.95196238213!2d105.6189045!3d9.779349!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1693808842954!5m2!1svi!2s"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <footer>
        <div class="slider_product">
            <div class="slider_products">
                <div class="slides_prodcuts">
                    <div class="product_ft">
                        <div class="ft_img">
                            <img src="../images/background-remover (1)/logo.png" alt="" width="70px" height="70px">
                            <span>
                                <strong>Go<strong style="color: #D16B7D;">grin</strong>.</strong>
                            </span>

                        </div>
                        <div class="ft-text">
                            <p>War should never be entered upon
                                until every agency of peace has
                                failed not to be good. War should
                                never be entered upon
                                until every agency of peace has
                                failed not to be good</p>
                        </div>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Social Feed</h4>
                        <p>War should never be entered upon
                            until every agency of peace has
                            failed not to be good.</p>
                        <div class="icon-container">
                            <div class="icon-square">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-linkedin"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="ft_down">
            <div class="ft_down_d">
                <div class="content_fl" style="float: left;">
                    <p>Copyright @ gogrin all rights reserved</p>
                </div>
            </div>
            <div class="ft_down_d">
                <div class="content_fl" style="float: right;">
                    <p>Service</p>
                    <p>Pricing</p>
                    <p>Contact</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/select.js"></script>
    <script src="../js/overflow.js"></script>
</body>

</html>