<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Product</title>
    <link rel="stylesheet" href="../css/listproduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="banner">
        <div class="menu">

            <div class="menu_navbar" style="margin-top: 10px;">
                <label class="logo">
                    <img src="../images/background-remover (1)/logo.png" alt="" width="48px">
                    <strong>Go<span style="color: #D16B7D;">grin</span>.</strong>
                </label>
            </div>

            <div class="menu_navbar">
                <div>
                    <label for="checks" class="checkbtn1 iconcart">
                        <a href="#">
                            <i class="fas fa-search "></i>
                        </a>
                        <div class="cart-icon">
                            <a href="1">
                                <i class="fas fa-cart-plus sign-giohang"></i>
                                <span class="item-count">3</span>
                            </a>
                        </div>
                    </label>
                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li><a href="trangchu.html" class="active">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="listproduct.html">Shop</a></li>
                        <li><a href="">Pages</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="about.html">Contact</a></li>

                    </ul>
                    <div class="menu_con">
                        <li><a href="">Home > Shop</a></li>
                    </div>
                </div>

            </div>
            <div class="menu_navbar unmenu" style="margin-top: 20px;">
                <div class="menu_navbar_right">
                    <i class="fas fa-search sign-kinhlup"></i>
                    <div class="cart-icon">
                        <a href="#">
                            <i class="fas fa-cart-plus sign-giohang"></i>
                            <span class="item-count">3</span></a>
                    </div>
                    <button class="sign-button">24/7 Help</button>
                </div>
            </div>
        </div>
        <div class="menu_con show">
            <hr>
            <li><a href="">Home > Shop</a></li>
        </div>
    </div>
    <div class="showing">
        <div class="showing_a">
            <p>Showing 1-8 of 11 results</p>
        </div>
        <div class="showing_a">
            <select name="" id="">
                <option value="" selected>Default Sort</option>
                <option value="">Lựa chọn 1</option>
                <option value="">Lựa chọn 2</option>
                <option value="">Lựa chọn 3</option>
            </select>
            <i class="fas fa-bars unbars"></i>
            <i class="fas fa-bars "></i>
        </div>
    </div>
    <div class="product_sort">
        <div class="product_sort_con">
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>
            <div class="product_con">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="phantrang">
        <div class="phantrang_con">
            <div class="phantrang_ph" style="background: #D16B7D; color: white;">
                <p>1</p>
            </div>
            <div class="phantrang_ph">
                <p>2</p>
            </div>
            <div class="phantrang_ph">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
    <footer>
        <div class="slider_product">
            <div class="slider_products">
                <div class="slides_prodcuts">
                    <div class="product_ft">
                        <div class="ft_img">
                            <img src="../images/background-remover (1)/logo.png" alt="" width="70px" height="70px">
                            <span>
                                <strong>Go<strong style="color: #D16B7D;">grin</strong>.</strong>
                            </span>

                        </div>
                        <div class="ft-text">
                            <p>War should never be entered upon
                                until every agency of peace has
                                failed not to be good. War should
                                never be entered upon
                                until every agency of peace has
                                failed not to be good</p>
                        </div>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Social Feed</h4>
                        <p>War should never be entered upon
                            until every agency of peace has
                            failed not to be good.</p>
                        <div class="icon-container">
                            <div class="icon-square">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-linkedin"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <div class="ft_down">
            <div class="ft_down_d">
                <div class="content_fl" style="float: left;">
                    <p>Copyright @ gogrin all rights reserved</p>
                </div>
            </div>
            <div class="ft_down_d">
                <div class="content_fl" style="float: right;">
                    <p>Service</p>
                    <p>Pricing</p>
                    <p>Contact</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/overflow.js"></script>
</body>

</html>