<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <!-- <link rel="stylesheet" href="../css/trangchu.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>

<body>
    <div class="banner">
        <div class="menu">

            <div class="menu_navbar">
                <label class="logo">
                    <img src="../images/background-remover (1)/logo.png" alt="" width="48px">
                    <strong>Go<span style="color: #D16B7D;">grin</span>.</strong>
                </label>
            </div>

            <div class="menu_navbar">
                <div>

                    <input type="checkbox" id="check">
                    <label for="check" class="checkbtn">
                        <i class="fas fa-search "></i>
                        <i class="fas fa-shopping-cart shopping"></i>
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul>
                        <li><a href="trangchu.html" class="active">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="listproduct.html">Shop</a></li>
                        <li><a href="">Pages</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="about.html">Contact</a></li>

                    </ul>

                </div>

            </div>
            <div class="menu_navbar unmenu">
                <div class="menu_navbar_right">
                    <i class="fas fa-search sign-kinhlup"></i>
                    <i class="fas fa-shopping-cart"></i>
                    <button class="sign-button">24/7 Help</button>
                </div>
            </div>
        </div>


        <!-- slider -->
        <div class="slider">
            <div class="myslide fade">
                <div class="txt">
                    <h1>
                        <strong style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">F</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">L</strong><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">O</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">W</strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;"><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">E</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">R</strong><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">S</strong>
                    </h1>
                    <h1>
                        <strong
                            style="font-family: 'Roboto', sans-serif;color: #333333;text-shadow: 4px -1px 0px #D16B7D;">S</strong><strong
                            style="font-weight: lighter;color: #D16B7D;text-shadow: 4px -1px 0px #333333;">H</strong><strong
                            style="font-weight: lighter;color: #333333;text-shadow: 4px -1px 0px #D16B7D;">O</strong><strong
                            style="font-weight: lighter;color: #D16B7D;text-shadow: 4px -1px 0px #333333;">P</strong>
                    </h1>
                    <p>Your attitude will go a long way in determining your success , your recognition, <br>
                        your reputation Your attitude</p>
                    <button class="sign-button2">Know More</button> <button class="sign-button2">About US</button>

                </div>
                <div class="img">
                    <img src="../images/background-remover/lohoa.png" alt="" width="1000px" height="490">
                </div>
            </div>
            <div class="myslide fade">
                <div class="txt">
                    <h1>
                        <strong style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">F</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">L</strong><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">O</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">W</strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;"><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">E</strong><strong
                            style="color: #D16B7D;text-shadow: 4px -1px 0px #333333;">R</strong><strong
                            style="color: #333333;text-shadow: 4px -1px 0px #D16B7D;">S</strong>
                    </h1>
                    <h1>
                        <strong
                            style="font-weight: lighter;color: #333333;text-shadow: 4px -1px 0px #D16B7D;">G</strong><strong
                            style="font-weight: lighter;color: #D16B7D;text-shadow: 4px -1px 0px #333333;">O</strong><strong
                            style="font-weight: lighter;color: #333333;text-shadow: 4px -1px 0px #D16B7D;">R</strong><strong
                            style="font-weight: lighter;color: #D16B7D;text-shadow: 4px -1px 0px #333333;">I</strong><strong
                            style="font-weight: lighter;color: #333333;text-shadow: 4px -1px 0px #D16B7D;">N</strong>
                    </h1>
                    <p>Your attitude will go a long way in determining your success , your recognition, <br>
                        your reputation Your attitude</p>
                    <button class="sign-button2">Know More</button> <button class="sign-button2">About US</button>

                </div>
                <div class="img">
                    <img src="../images/background-remover/transparent.png" alt="" width="1000" height="490">
                </div>
            </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>




    </div>


    <!-- <img src="../images/bannerhoa.jpg" alt="" width="100%" class="bannerhoa" height="auto"> -->
    <div class="barn">
        <div class="barnbox">
            <div class="box">
                <div>
                    <i class="fas fa-headphones"></i>
                </div>
                <div>
                    <p class="box_title">24/7 Help line</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
            <div class="box">
                <div>

                    <i class='fas fa-leaf'></i>
                </div>
                <div>
                    <p class="box_title">Fresh flowers</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
            <div class="box">
                <div>

                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div>
                    <p class="box_title">payment secure</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
            <div class="box">
                <div>

                    <i class='fas fa-box-open'></i>
                </div>
                <div>
                    <p class="box_title">Free delivery</p>
                    <p class="box_content">Adipiscing neque, amet scelerisque nulla. Morbi faucibus </p>
                </div>
            </div>
        </div>

        <script>

            window.addEventListener('resize', function () {
                var boxElements = document.querySelectorAll('.box');
                var screenWidth = window.innerWidth;

                if (screenWidth <= 768) {
                    boxElements.forEach(function (element) {
                        element.style.marginTop = '0';
                    });
                } else {
                    boxElements.forEach(function (element) {
                        element.style.marginTop = '80px';
                    });
                }
            });
        </script>
        <div class="content_box">
            <div class="content_box_title">
                <img src="../images/logo1.jpg" alt="" width="60px" class="content_box_img">
                <p class="content_box_p" style="font-weight: 800;">Trending <strong
                        style="color: #D16B7D;">Flowers</strong></p>
            </div>
        </div>
        <div class="content_box_menu">
            <div class="content_box_menutitle">
                <div class="menu_title">
                    <span class="button_title">All</span>
                </div>
                <div class="menu_title">
                    <span class="button_title">Exotic</span>
                </div>
                <div class="menu_title">
                    <span class="button_title">Green</span>
                </div>
                <div class="menu_title">
                    <span class="button_title">Popular</span>
                </div>
                <div class="menu_title">
                    <span class="button_title">Winter</span>
                </div>

            </div>
        </div>
        <!-- các sản phẩm  -->

        <div class="boxflex">
            <!-- <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart shopping'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Yellow rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                        $17</p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Flower in glash </p>
                    <p class="product_price">$15</p>
                </div>

            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                    </p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price">$22</p>
                </div>
            </div> -->
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Yellow rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                        $17</p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Flower in glash </p>
                    <p class="product_price">$15</p>
                </div>

            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                    </p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price">$22</p>
                </div>
            </div>

        </div>
        <div class="boxflex">
            <!-- <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart shopping'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Yellow rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                        $17</p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Flower in glash </p>
                    <p class="product_price">$15</p>
                </div>

            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                    </p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price">$22</p>
                </div>
            </div> -->
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Yellow rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                        $17</p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/p1.jpg" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Flower in glash </p>
                    <p class="product_price">$15</p>
                </div>

            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/transparent.png" alt="">
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                    </p>
                </div>
            </div>
            <div class="box_hoa">
                <div class="product_img">
                    <img src="../images/background-remover/lohoa.png" alt="">
                    <div class="product_sale">
                        SALE!
                    </div>
                    <div class="overlay">
                        <div class="text">
                            <a href=""><i class="fa fa-heart"></i></a>
                            <a href=""><i class='fas fa-shopping-cart'></i></a>
                            <a href=""> <i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>
                <div class="product_info">
                    <p class="product_name">Beautiful rose flower </p>
                    <p class="product_price">$22</p>
                </div>
            </div>

        </div>
    </div>

    <div class="barn1">
        <div class="avatar_img">
            <img src="../images/background-remover/img_avatar.png" alt="Avatar" class="avatar">
            <div class="content_avatar">
                <p class="content_up">Gogrin flower shop is really amezing there fresh flower & servicers. i </p>
                <p>always pray a lot for there big success</p>
                <p style="line-height: 40px;"><strong
                        style="color: #D16B7D;font-family: 'Poppins', sans-serif;font-size: 1vw;">Rakib hossain...
                    </strong><strong style="font-size: 1.3vw;">Manager</strong></p>
            </div>
        </div>
        <div class="shop_shopping">
            <div class="shop_shopping_now">
                <img src="../images/rohoa.png" alt="" class="imgrohoa">
                <div class="product_off_new">
                    <span> 20% <br> OFF</span>
                </div>
                <div class="content_now">
                    <p>Latest red & white rose <br> Combo Offer... $35</p>
                </div>
                <a href="">SHOP NOW</a>
            </div>
            <div class="shop_shopping_now">
                <img src="../images/rohoa.png" alt="" class="imgrohoa">
                <div class="product_off_new">
                    <span> 20% <br> OFF</span>
                </div>
                <div class="content_now">
                    <p>Latest red & white rose <br> Combo Offer... $35</p>
                </div>
                <a href="">SHOP NOW</a>
            </div>

        </div>

    </div>


    <div class="title_product">
        <div class="logo_product">
            <img src="../images/logo1.png" alt="" width="60px" class="content_box_img">
            <p class="content_box_p" style="font-weight: 800;">Trending <strong style="color: #D16B7D;">Flowers</strong>
            </p>
        </div>

        <div class="btn_product">
            <button class="next-btn"><i class='fas fa-arrow-right' style="font-size: 1rem; color: white;"></i></button>
            <button class="prev-btn"><i class='fas fa-arrow-left' style="font-size: 1rem; color: white;"></i></button>


        </div>

    </div>
    <div class="slider_product">
        <div class="slider_products">
            <div class="slides_prodcuts">
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/lohoa.png" alt="">
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/pro.jpg" alt="">
                        <div class="product_sale">
                            SALE!
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Flower in glash </p>
                        <p class="product_price">$15</p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/transparent.png" alt="">
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Beautiful rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                        </p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/lohoa.png" alt="">
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>
            </div>
            <div class="slides_prodcuts">
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/lohoa.png" alt="">
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/p1.jpg" alt="">
                        <div class="product_sale">
                            SALE!
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Flower in glash </p>
                        <p class="product_price">$15</p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/background-remover/transparent.png" alt="">
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Beautiful rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5">$33</span> $31
                        </p>
                    </div>
                </div>
                <div class="product_hoa">
                    <div class="product_img">
                        <img src="../images/pro.jpg" alt="">
                        <div class="product_sale">
                            SALE!
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class='fas fa-shopping-cart'></i></a>
                                <a href=""> <i class="fa fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product_info">
                        <p class="product_name">Yellow rose flower </p>
                        <p class="product_price"><span style="text-decoration: line-through;opacity: 0.5;">$19</span>
                            $17</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div style="overflow:auto;margin-top: 30px;" class="main_sum">
        <div class="main">
            <img src="../images/background-remover (1)/logo.png" alt="">
            <div class="main1">
                <p style="color: #D16B7D;font-weight: 700;">We provide always fresh & beautiful flower</p>
                <p class="main_title_content" style="line-height: 35px;"><span style="color: #D16B7D;">Love</span> is
                    the flower <br>
                    you've got to <span style="color: #D16B7D;">let grow.</span></p>
                <p style="line-height: normal;font-family: 'Courier New', Courier, monospace;">They have to a certain
                    caliber and connect with me because I'm
                    going to be playing them for reset of my life. They have to a
                    certain caliber connect with me </p>
                <p style="line-height: 30px ; color: #D16B7D;">Learn More...</p>
                <p style=" border: none;
                border-top: 1px dashed black;
                width: 55%;
                float: right ;
                line-height: 40px;">
                    <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px;"></i></span> We provide
                    always fresh & beautiful flower <br>

                    <span><i class='fas fa-award' style="color: #0ED678;margin-right: 10px"></i></span> We provide
                    always fresh & beautiful flower
                </p>
            </div>
        </div>

        <div class="right">
            <img src="../images/roho2.png" alt="">
        </div>
    </div>
    <div class="logo_six">
        <div class="logo_six_image"> <img src="../images/logo/1.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/2.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/4.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/2.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/3.PNG" alt=""></div>
        <div class="logo_six_image"><img src="../images/logo/1.PNG" alt=""></div>
    </div>
    <div class="title_product">
        <div class="logo_product">
            <img src="../images/logo1.png" alt="" width="60px" class="content_box_img">
            <p class="content_box_p" style="font-weight: 800;">Trending <strong style="color: #D16B7D;">Flowers</strong>
            </p>
        </div>

        <div class="btn_product">
            <button class="next-btn1"><i class='fas fa-arrow-right' style="font-size: 1rem; color: white;"></i></button>
            <button class="prev-btn1"><i class='fas fa-arrow-left' style="font-size: 1rem; color: white;"></i></button>
        </div>

    </div>
    <div class="post_product">
        <div class="post_products">
            <div class="posts_prodcuts">

                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/baitamhonrom.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">The Biggest Contribution Of <br>
                            Nonprofit To Humanty.</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/huu-percentage-20thanh-percentage-2033-percentage-20-3.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">Flowers always make people <br>
                            better, happier, and more</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/chiemnguonvedepcongviendiachat.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">The Biggest Contribution Of <br>
                            Nonprofit To Humanty.</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
            </div>
            <div class="posts_prodcuts">

                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/baitamhonrom.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">The Biggest Contribution Of <br>
                            Nonprofit To Humanty.</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/huu-percentage-20thanh-percentage-2033-percentage-20-3.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">Flowers always make people <br>
                            better, happier, and more</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
                <div class="product_post">
                    <div class="post_img">
                        <img src="../images/chiemnguonvedepcongviendiachat.jpg" alt="">
                    </div>
                    <div class="post_sale">
                        03 Feb 2023
                    </div>
                    <div class="post_info">
                        <p class="post_info_title">The Biggest Contribution Of <br>
                            Nonprofit To Humanty.</p>
                        <p class="post_info_more">READ MORE...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="contact_lh">

            <div class="contact_lh_left">

            </div>
            <p>OUR NEWSLETTER</p>

        </div>
        <div class="contact_lh">

            <input type="text" placeholder="    Your Email">
            <button>SEND</button>
        </div>
    </div>
    <footer>

        <div class="slider_product">
            <div class="slider_products">
                <div class="slides_prodcuts">
                    <div class="product_ft">
                        <div class="ft_img">
                            <img src="../images/background-remover (1)/logo.png" alt="" width="70px" height="70px">
                            <span>
                                <strong>Go<strong style="color: #D16B7D;">grin</strong>.</strong>
                            </span>

                        </div>
                        <div class="ft-text">
                            <p>War should never be entered upon
                                until every agency of peace has
                                failed not to be good. War should
                                never be entered upon
                                until every agency of peace has
                                failed not to be good</p>
                        </div>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Emergency Link</h4>
                        <p>Our shop store</p>
                        <p>Our Term & Condition</p>
                        <p>Faq Section</p>
                        <p>Trending Product</p>
                        <p>Our shop store</p>
                    </div>
                    <div class="product_ft">
                        <h4>Social Feed</h4>
                        <p>War should never be entered upon
                            until every agency of peace has
                            failed not to be good.</p>
                        <div class="icon-container">
                            <div class="icon-square">
                                <i class="fab fa-facebook"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-instagram"></i>
                            </div>
                            <div class="icon-square">
                                <i class="fab fa-linkedin"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="ft_down">
            <div class="ft_down_d">
                <div class="content_fl" style="float: left;">
                    <p>Copyright @ gogrin all rights reserved</p>
                </div>
            </div>
            <div class="ft_down_d">
                <div class="content_fl" style="float: right;">
                    <p>Service</p>
                    <p>Pricing</p>
                    <p>Contact</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="../js/jsflie.js"></script>
    <script src="../js/slider.js"></script>

</body>

</html>